*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
background-image: url(cafe-espresso-maquina-1024x683.jpg);
background-repeat: no-repeat;
background-size: cover;
}
.coroa{
    width: 70px;
    position: absolute;
    top: 50px;
    left: 125px;
}

.container{
    max-width: 1400px;
    padding: 5%;
    margin: 0 auto;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-style: italic;
}
nav .logo{
    font-size: 35px;
    font-style: italic;
    color:White
}
nav ul{
    list-style: none;
}
nav ul li{
    display: inline-block;
}
nav ul li a{
    padding: 10px 20px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    border-radius: 30px;
    transition: 0.5s;
}
nav ul li a:hover{
    background-color: rgb(248, 104, 7);
}
p{
    padding: 10px;
    font-size: larger;
    color: white;
    font-style: italic;
    box-sizing: content-box;
}
h3{
    padding: 3px;
    color: white;
    display: flex;
    justify-content: flex-end;
}

button{
    padding: 10px 20px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    border-radius: 30px;
    transition: 0.5s;
    background-color: rgb(248, 104, 7);
    cursor: pointer;
    border: none;
    justify-content: center;
    position: absolute;
    left: 140px;

}
button:hover{
    background-color: orange;
}

.example img{
position: absolute;
top: 200px;
right: 100px;
width: 400px;
border-radius: 20px;
box-shadow: 1px 1px 20px 5px orangered;
}
.span{
    color: white;
}
a{
    text-decoration: none;
}